/* This file is for your main application css. */

.measure {
	width: 300px;
	height: 100px;
}

div.measure > span.weight {
	float: right;
}

.excluderLabel {
	font-weight: bold;
}

.chart-bar {
	background-color: #66b5ff; /* blue; */
	height: 100%;
	min-height: 15px;
}